<!DOCTYPE html>
<html>
<head>
  <%- include ../meta.html %>
</head>
<body>
  <%- include ../header.html %>
  <div class="container">
    <div class="c-course">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <a href="/jhu" class="c-partner-logo"><img src="/resource/img/p/bloomberg.small.png" alt="Johns Hopkins University"></a>
          <h1>统计推断</h1>
          <h3>隶属于&nbsp;<a href="/specialization/jhudatascience/1?utm_medium=courseDescripTop">数据科学 专项课程 »</a></h3>
          <p>Learn how to draw conclusions about populations or scientific truths from data. This is the  sixth course in the Johns Hopkins Data Science Course Track.</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="c-vedio-container">
              <video height="254" width="100%" data-js="previewVideo" preload="metadata" controls="controls" poster="/resource/img/k/6.jpg">
                <source type="video/mp4" src="https://d1a2y8pfnfh44t.cloudfront.net/8cc4a550851211e3b08b6f8923cff007/full/540p/index.mp4">
                <source type="video/webm" src="https://d1a2y8pfnfh44t.cloudfront.net/8cc4a550851211e3b08b6f8923cff007/full/540p/index.webm">
              </video>
            </div>
        </div>
      </div>
      <hr class="c-course-divider">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>课程概述</h2>
          <p>Statistical inference is the process of drawing conclusions about populations or scientific truths from data. There are many modes of performing inference including statistical modeling, data oriented strategies and explicit use of designs and randomization in analyses. Furthermore, there are broad theories (frequentists, Bayesian, likelihood, design based, …) and numerous complexities (missing data, observed and unobserved confounding, biases) for performing inference. A practitioner can often be left in a debilitating maze of techniques, philosophies and nuance. This course presents the fundamentals of inference in a practical approach for getting things done. After taking this course, students will understand the broad directions of statistical inference and use this information for making informed choices in analyzing data.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>授课大纲</h2>
          <p><b>第1周： 绪论:软件开发方法的演化与最新趋势</b>
            <br>介绍贯穿于课程始终的基本概念：系统、模型、方法学、方法、语言等，回顾软件开发方法学的历史、现状，并展望未来
            <br><b>第2周： 面向对象技术概论
            </b><br>讲述面向对象方法学中的原则与发展历史以及问题
            <br><b>第3周：面向对象分析与设计引例（空战游戏）
            </b><br>以一个完整的案例示范完整的面向对象的需求分析、系统分析和系统设计的过程和模型。
            <br><b>第4周：面向对象的需求分析：Usecace图
            </b><br>介绍面向对象需求分析模型的语义与建立过程，示例，并讨论其中的深入话题
            <br><b>第5周：面向对象的系统分析：类图
            </b><br>介绍类图的语义与建立过程，示例，并讨论其中的深入话题
            <br><b>第6周：面向对象的系统分析：交互图</b>
            <br>介绍交互图的语义与建立过程，示例，并讨论其中的深入话题
            <br><b>第7周：面向对象的系统分析：状态图
            </b><br>介绍状态图的语义与建立过程，示例，并讨论其中的深入话题
            <br><b>第8周：面向对象的系统设计：概述与问题域部分的设计
            </b><br>介绍面向对象设计的范围界定、概要与组成部分，以及其中问题域部分的设计方法与策略
            <br><b>第9周：面向对象的系统设计：控制驱动部分的设计
            </b><br>介绍控制驱动部分的设计方法与策略与案例
            <br><b>第10周：面向对象的系统设计：人机交互部分与数据管理部分的设计
            </b><br>介绍人机交互部分与数据管理部分的设计方法与策略与案例
            <br><b>第11周：面向对象的系统设计：构件与部署的设计
            </b><br>介绍构件与部署分与数据管理部分的设计方法与策略与案例
            <br><b>第12周：面向对象分析与设计完整案例
            </b><br>介绍各种类型的面向对象分析与设计完整案例</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>先修知识</h2>
          <p>面向广大软件开发爱好者，并不局限专业与学历层次。最佳选课者为计算机科学和软件工程专业的大学生和硕士研究生。选课者最好具有一门面向对象的编程语言的基本知识和软件工程的基本知识。</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 reffernce">
          <h2>参考资料</h2>
          <p data-user-generated="data-user-generated"></p>
          <div>邵维忠、杨芙清，面向对象的分析与设计，清华大学出版社，2013</div>
          <div>麻志毅、邵维忠，面向对象方法基本教程， 高等教育出版社，2004</div>
          <div>Martin Fowler著，徐家福译，UML精粹（第3版）清华大学出版社， 2005</div>
          <div>Grady Booch等著，邵维忠等译， UML用户指南（第2版 ）人民邮电出版社， 2006</div>
          <div>Joshua Kerievsky著， 杨光等译 重构与模式 人民邮电出版社， 2013.1</div>
          <div>Martin Fowler著，陈师(注释)，&nbsp;Analysis Patterns: Reusable Object Models ，人民邮电出版社，2007<br> </div><p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>常见问题</h2>
          <ul><li>成功完成课程学习后我会得到证书吗？<br></li></ul>
          <div class="answer">是的，达到要求后将得到北京大学授权主讲教师签署的完成课程学习的证书。<br></div>
        </div>
      </div>
      <hr class="c-course-divider">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>教授</h2>
          <div class="course-teacher">
            <div class="col-sm-6 col-md-4">
               <a href="" class="teacher-pic"><img src="http://img.mukewang.com/user/54bf46160001222c02200220-80-80.jpg" width="80" height="80"></a>
                <h3>
                  <a href="/space/teacher/id/1201036">Doving</a>
                </h3>
                <p> Web前端工程师</p>
                <br class="clear">
               <div class="discrip autowrap">前端从业者，前端技术控。乐于研究前端新技术和学习新知识，包括前端构建工具，框架，HTML5和CSS3等知识技术。拥有多款独立App作品；对一切可编程的东西有浓厚兴趣，对游戏编程格外感兴趣。相信编程改变一切</div>
            </div>
            <div class="col-sm-6 col-md-4">
               <a href="" class="teacher-pic"><img src="http://img.mukewang.com/user/5347593e00010cfb01400140-80-80.jpg" width="80" height="80"></a>
                <h3>
                  <a href="/space/teacher/id/1201036">liuluobo</a>
                </h3>
                <p> DBA</p>
                <br class="clear">
               <div class="discrip">创业者，全栈工程师，持续学习者。对技术开发，产品设计、前后端，ios，html5，智能算法等领域均有接触；拥有多款独立App作品；对一切可编程的东西有浓厚兴趣，对游戏编程格外感兴趣。相信编程改变一切。</div>
            </div>
            <div class="col-sm-6 col-md-4">
               <a href="" class="teacher-pic"><img src="http://img.mukewang.com/user/52610a460001972707820900-80-80.jpg" width="80" height="80"></a>
                <h3>
                  <a href="/space/teacher/id/1201036">Murphy</a>
                </h3>
                <p> 移动开发工程师</p>
                <br class="clear">
               <div class="discrip">腾讯开放平台高级工程师 Web技术大牛 10年风雨开发路 腾讯学院讲师 沙龙论坛演讲大V T恤男 儒雅先生 精通C#、ASP．NET和SQL Server等 负责开发“QQ概念版”、“Q+”、“影视中心”、“QQ互联”等产品 </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ../footer.html %>
</body>
</html>