<!Doctype html>
<html>
<head>
  <%- include ../meta.html %>
  <link rel="stylesheet" type="text/css" href="/resource/css/gdpx.css">
</head>
<body class="bodybg index">
  <div class="h-container">
    <div class="header">
      <a href="http://www.chinacft.org/" target="_blank"><img class="logo" src="/resource/img/f_logo_w.png" alt="中国金融培训中心" height="65" width="359"></a>
      <h1>
        <img src="/resource/img/banner_use.png" alt="2015中国金融高端培训" width="1200" height="444">
      </h1>
      <a class="zxbm" href="http://www.nebulafe.com/gdpx/apply/" target="_blank"><span></span></a>
    </div>
  </div>
  <div class="m-container">
    <ul class="Hot clearfix">
      <li class="hot1">
          <em class="first icon-vector-600"></em>
          <p class="HotTit">汇集世界顶尖经济金融智慧的金融讲坛</p>
      </li>
      <li class="hot2">
          <em class="icon-vector-601"></em>
          <p class="HotTit">金融支持实体经济的服务桥梁</p>
      </li>
      <li class="hot3">
          <em class="icon-vector-602"></em>
          <p class="HotTit">全球最新宏观经济金融政策的沟通引导平台</p>
      </li>
      <li class="hot4 last">
          <em class="icon-vector-603"></em>
          <p class="HotTit">金融业管理人员能力提升的快捷通道</p>
      </li>
    </ul>
    <div class="content clearfix">
      <div class="contentLeft">
        <h2 class="indexH2 firstH2" id="gdlt_bj">背景</h2>
        <p>中国经济发展已经进入“新常态”，金融业的改革与发展正处在关键时刻，尤其是随着利率市场化和存款保险制度步伐的加快，以及互联网金融的兴起，整个金融业正面临着前所未有的机遇和挑战。作为金融从业人员，有必要顺应时势，充分理解和认识新常态，不断提高风险管控能力。基于此，“中国金融高端培训”（2015）将于2015年5月22日至24日在北京金融街举办。</p>
        <h2 class="indexH2" id="gdlt_zj">培训简介</h2>
        <p>中国金融高端培训是经中国人民银行总行批准，由中国人民银行总行直属中国金融培训中心主办的公益性培训项目。参与授课专家有来自国内外金融管理部门领导、国际顶级经济学大师，以及国际知名金融机构高管。中国金融高端培训是中外金融领域专家、学者以及业界同行探讨金融发展新趋势，分享金融发展新成果，探索金融发展新问题的高水平、多层次交流平台。</p>
        <h2 class="indexH2" id="gdlt_zj">主讲嘉宾</h2>
        <h3 class="indexH3">Darrell Duffie 教授</h3>
        <div class="people-wrap">
           <div class="p-img"><img src="/resource/img/darrell_duffie.jpg" alt="Darrell Duffie教授"></div>
           <p>Darrell Duffie，1984年获得斯坦福大学博士学位并开始斯坦福大学任教，现为现为斯坦福商学院金融学Dean Witter Distinguished教授，其研究的主要领域为资产定价、风险和管理、信用风险建模，以及固定收益证券和股票市场，在国际上享有很高的知名度。Duffie教授1995年当选为美国经济计量学会会士，2008年当选美国经济计量学会理事会成员；2000年至今为美国金融学会董事会成员，2009-2010年当选为美国金融学会主席。Duffie教授现为纽约联储金融顾问，美国艺术和科学院院士，国家经济研究局研究员，他目前还是金融稳定理事会主管的市场主体集团的主席，专为包括伦敦同业市场拆借利率、欧洲同业市场拆借利率在内的市场利率基准的改革提供政策建议。Duffie的主要著作包括《证券市场》（1988年）、《动态资产定价》（1992年）、《信用风险》（2003年）、《大银行是如何倒闭的》（2010）、《公司违约风险度量》（2011年）以及《暗黑市场》（2012）等。</p>
        </div>
        <h2 class="indexH2" id="gdlt_hg">精彩观点</h2>
        <div class="jchg clearfix">
          <ul>
            <li class="firstPic"><a href="http://www.chinacft.org/demo/gdpx/1.html" target="_blank"><img src="/resource/img/jchg_2.jpg" width="184" height="117" alt="">
              <span>2011诺贝尔经济学奖获得者<br>托马斯•萨金特</span></a>
            </li>
            <li><a href="http://www.chinacft.org/demo/gdpx/2.html" target="_blank"><img src="/resource/img/jchg_3.jpg" width="184" height="117" alt="">
              <span>哈佛大学经济学教授<br>罗伯特•巴罗</span></a>
            </li>
            <li><img src="/resource/img/jchg_1.jpg" width="184" height="117" alt="">
              <span>中国人民银行副行长<br>易纲</span>
            </li>
          </ul>
        </div>
        <h2 class="indexH2" id="gdlt_hg">往期回顾</h2>
        <div class="wqhg clearfix">
          <div class="banner">
            <ul>
              <li>
                <img src="/resource/img/2013/lbtbl.jpg" alt="往期回顾" title="纽约大学教授、2011年诺贝尔经济学奖得主托马斯·萨金特为2013年中国金融高端培训讲授《债务危机与全球经济展望》课程">
                <img src="/resource/img/2013/qjt.jpg" alt="往期回顾" title="2013年中国金融高端培训全景图">
                <img src="/resource/img/2013/tmsstj.jpg" alt="往期回顾" title="哈佛大学教授罗伯特·巴罗为2013年中国金融高端培训讲授《金融市场、金融危机与宏观危机管理政策》课程">
                <img src="/resource/img/2013/xyqd.jpg" alt="往期回顾" title="学员签到">
              </li>
              <li>
                <img src="/resource/img/2013/xyhd.jpg" alt="往期回顾" title="学员提问">
                <img src="/resource/img/2013/mjm.jpg" alt="往期回顾" title="中国人寿集团总裁廖建民为2013年中国金融高端培训授课">
                <img src="/resource/img/2013/yg.jpg" alt="往期回顾" title="中国人民银行副行长易纲为2013年中国金融高端培训授课">
                <img src="/resource/img/2014/gs.jpg" alt="往期回顾" title="中国工商银行谷澍副行长为2014年中国金融高端培训授课">
              </li>
              <li>
                <img src="/resource/img/2014/lb.jpg" alt="往期回顾" title="中国人民银行货币政策二司李波司长为2014年高端培训授课">
                <img src="/resource/img/2014/lbt.jpg" alt="往期回顾" title="美国达拉斯联储副主席约翰杜卡">
                <img src="/resource/img/2014/lbtxl.jpg" alt="往期回顾" title="罗贝特.席勒教授与高校师生进行学术座谈.">
                <img src="/resource/img/2014/ljj.jpg" alt="往期回顾" title="招商银行刘建军副行长为2014年中国金融高端培训授课">
              </li>
              <li>
                <img src="/resource/img/2014/mdl.jpg" alt="往期回顾" title="人民银行原副行长马德伦为2014年高端培训授课">
                <img src="/resource/img/2014/mna.jpg" alt="往期回顾" title="美国高盛集团全球金融机构部副主席约翰马尼奥为中国2014年金融高端培训授课">
                <img src="/resource/img/2014/qj.jpg" alt="往期回顾" title="2014年中国金融高端培训全景">
                <img src="/resource/img/2014/ssc.jpg" alt="往期回顾" title="中国人民银行调查统计司司长盛松成为2014年高端培训授课">
              </li>
              <li>
                <img src="/resource/img/2014/wcz.jpg" alt="往期回顾" title="中国金融培训中心主任万存知主持中国金融高端培训开班式">
                <img src="/resource/img/2014/xl.jpg" alt="往期回顾" title="美国耶鲁大学教授，2013年诺贝尔经济学奖得主罗贝特.席勒为2014年中国金融高端培训讲授《金融市场波动、金融稳定与监管》课程">
                <img src="/resource/img/2014/yg.jpg" alt="往期回顾" title="中国人民银行副行长易纲为2014年中国金融高端培训讲授《当前经济形势与金融改革》专题讲座">
                <img src="/resource/img/2014/yhdc.jpg" alt="往期回顾" title="约翰.杜卡为2014年中国金融高端培训授课">
              </li>
            </ul>
          </div>
          <a href="javascript:;" class="unslider-arrow prev">
            <i class="s-prev"></i>
          </a>
          <a href="javascript:;" class="unslider-arrow next">
            <i class="s-next"></i>
          </a>
        </div>
      </div>
      <div class="contentRight">
        <div class="zxdt">
          <p class="tit" id="gdlt_zxdt">最新动态</p>
          <ul class="zxdtList">
            <li><a href="http://115.29.194.170/CenterNews/Detail/1/44" target="_blank">中国金融高端培训（2015）公告</a></li>
            <li><a href="http://115.29.194.170/CenterNews/Detail/1/45" target="_blank">关于举办中国金融高端培训(2015)的通知</a></li>
            <li><a href="http://115.29.194.170/CenterNews/Detail/1/46" target="_blank">中国金融高端培训（2015）日程安排 </a></li>
          </ul>
        </div>
        <div class="pxnr">
          <p class="tit" id="gdlt_pxnr">培训内容</p>
          <ul class="pxnrList">
            <li>培训主题:<br>金融风险与经济稳健</li>
            <li>主要内容:<br>探讨年度金融领域前沿性重大热点问题，<br>特别是注重探讨对中国金融发展具有深刻影响的金融风险防控等相关论题。</li>
          </ul>
          <a href="/gdpx/schedule" class="rcap" target="_blank">培训日程安排</a>
        </div>
        <div class="pxdx">
          <p class="tit">培训对象</p>
          <ul>
            <li>人民银行和部分国家中央银行官员以及部分地方政府相关官员</li>
            <li>金融机构风险管理相关岗位拥有三年及以上工作经验的负责人员</li>
            <li>国内高等院校、科研院所相关专业具有较强研究专长的骨干教师及研究人员</li>
            <li>国内高等院校、科研院所本科大三以上经济类专业在校学生，具有金融英语考试（FECT）中级及以上证书者优先</li>
          </ul>
        </div>
        <div class="lxwm">
          <p class="tit">联系我们</p>
          <p><span class="pink">姚&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;翔：</span> 010-66199373 / 18600068838 <br><a class="m-email" href="mailto:yxiang@pbc.gov.cn">yxiang@pbc.gov.cn</a></p>
          <p><span class="pink">张&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浩：</span> 010-66199324 / 18600068825 <br><a class="m-email" href="mailto:zhhao@pbc.gov.cn">zhhao@pbc.gov.cn</a></p>
          <p><span class="pink">通信地址：</span>北京市西城区成方街32号中国人<br><em class="e-right">民银行中国金融培训中心</em><br></p>
          <p><span class="pink">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：</span>100800<br></p>
          <p><span class="pink">传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真：</span>010-88091587<br></p>
       </div>
      </div>
    </div>
  </div>
  <div class="rcap"></div>
  <%- include ../a_footer.html %>
  <script src="//unslider.com/unslider.js"></script>
  <script>
    alifenxi.track("活动页浏览");
    $(function() {
      var unslider = $('.banner').unslider({
        speed: 500,
        delay: 3000,
        keys: true,
        dots: false,
        fluid: false
      });
      $('.unslider-arrow').click(function() {
        var fn = this.className.split(' ')[1];
        unslider.data('unslider')[fn]();
      });
    });
  </script>
</body>
</html>