<!Doctype html>
<html>
<head>
  <%- include ../meta.html %>
</head>
<body>
  <%- include ../a_header.html %>
  <div class="container">
    <h1 class="text-center">2015中国金融高端培训在线报名情况</h1>
    <div class="table-responsive activity">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>手机号码</th>
            <th>职业</th>
            <th>单位名称</th>
            <th>注册时间</th>
            <th>当前状态</th>
          </tr>
        </thead>
        <tbody>
          <% user_status=['审核中','通过','不通过']%>
          <%users.forEach(function(item,i){%>
            <tr data-id="<%-item.id%>">
              <td><a href="/gdpx/item/?id=<%-item.id%>" target="_blank"><%-(i+1)%></a></td>
              <td><a href="/gdpx/item/?id=<%-item.id%>" target="_blank"><%=item.username%></a></td>
              <td><%=item.email%></td>
              <td><%=item.mobile%></td>
              <td><%=item.career%></td>
              <td><%=item.unit%></td>
              <td><%=item.stime%></td>
              <td><%=user_status[item.status]%></td>
            </tr>
          <%})%>
        </tbody>
      </table>
      <%- include ../pager.html %>
    </div>
  </div>
  <%- include ../a_footer.html %>
</body>
</html>