<!Doctype html>
<html>
<head>
  <%- include ../meta.html %>
</head>
<body>
  <%- include ../a_header.html %>
  <div class="container">
    <div class="bmxz">
      <img src="/resource/img/bmxz_1.png" alt="报名须知" width="1014">
      <div class="text-center">
        <button class="btn btn-primary" id="has_see_bmxz">确定</button>
      </div>
    </div>
  </div>
  <div class="container online-bm">
    <h1 class="text-center">2015年中国金融高端培训在线报名</h1>
    <form role="form" class="form-horizontal activity" id="activity_form">
      <div class="row">
        <div class="form-group col-md-4 col-sm-12">
          <label for="username" class="control-label">姓名<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="username" placeholder="姓名">
        </div>
        <div class="form-group col-md-4 col-sm-12">
          <label for="idcardnum" class="control-label">身份证号码（护照号码）<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="idcardnum" placeholder="身份证号码 或者 护照号码">
        </div>
        <div class="form-group col-md-4 col-sm-12">
          <label for="sex" class="control-label">性别<em class="text-danger">*(必填)</em></label>
          <div class="col-md-12">
            <label for="sex_nan" class="radio-inline"><input type="radio" name="sex" id="sex_nan" value="男">男</label>
            <label for="sex_nv" class="radio-inline"><input type="radio" name="sex" id="sex_nv" value="女">女</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4 col-sm-12">
          <label for="email" class="control-label">邮箱<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="email" placeholder="邮箱">
        </div>
        <div class="form-group col-md-4 col-sm-12">
          <label for="mobile">手机号码<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="mobile" placeholder="手机号码">
        </div>
        <div class="form-group col-md-4 col-sm-12">
          <label for="career">职业<em class="text-danger">*(必填)</em></label>
          <select class="form-control input-lg" name="career" placeholder="职业" id="s_career">
            <option></option>
            <option>公务员</option>
            <option>金融机构从业人员</option>
            <option>教师</option>
            <option>学生</option>
            <option>其他</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4 col-sm-12">
          <label for="address">通讯地址<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="address" placeholder="通讯地址">
        </div>
        <div class="form-group col-md-4 col-sm-12">
          <label for="zipcode">邮编<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="zipcode" placeholder="邮编">
        </div>
        <div class="form-group col-md-4 col-sm-12">
          <label for="education">学历<em class="text-danger">*(必填)</em></label>
          <select class="form-control input-lg" name="education" placeholder="学历">
            <option>本科</option>
            <option>硕士</option>
            <option>博士</option>
            <option>其他</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4 col-sm-12">
          <label for="nation" class="control-label">民族<em class="text-danger"></em></label>
          <input type="text" class="form-control input-lg" name="nation" placeholder="民族">
        </div>
        <div class="form-group col-md-4 col-sm-12">
          <label for="phone">联系电话<em class="text-danger"></em></label>
          <input type="text" class="form-control input-lg" name="phone" placeholder="联系电话">
        </div>
        <div class="form-group col-md-4 col-sm-12">
          <label for="fax">传真</label>
          <input type="text" class="form-control input-lg" name="fax" placeholder="传真">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <label for="result">主要学术成果<em class="text-danger">*(必填)</em></label>
          <textarea class="form-control" name="result" rows="3" placeholder="您的学术研究成果将帮助我们进行资格审查，有助于您的通过；若没有任何学术成功请填写无！"></textarea>
        </div>
        <div class="form-group col-md-12 col-sm-12">
          <label>是否参加过往期中国金融高端培训<em class="text-danger">*(必填)</em></label>
          <div class="col-md-12">
            <label class="radio-inline"><input type="radio" name="attend_before" id="attend_agree" value="agree">是</label>
            <label class="radio-inline"><input type="radio" name="attend_before" id="attend_disagree" value="disagree">否</label>
          </div>
        </div>
      </div>
      <div class="row people-wrap finace-people gov-people else-people hide">
        <div class="form-group col-md-6 col-sm-12">
        <label for="unit">单位<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="unit" placeholder="单位">
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label for="career_name">职务<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="career_name" placeholder="职务">
        </div>
        <div class="form-group col-md-12 col-sm-12">
          <label for="english">英语水平<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="english" placeholder="所获取的英语证书；如没有任何英语证书请填写无！">
        </div>
        <div class="form-group col-md-12 col-sm-12">
          <label for="work_experience">主要工作经历<em class="text-danger">*(必填)</em></label>
          <textarea class="form-control" name="work_experience" rows="3"></textarea>
        </div>
      </div>
      <div class="row people-wrap teacher-people hide">
        <div class="form-group col-md-6 col-sm-12">
          <label for="unit">单位<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="unit" placeholder="单位">
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label for="career_name">职务<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="career_name" placeholder="职务">
        </div>
        <div class="form-group col-md-12 col-sm-12">
          <label for="english">英语水平<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="english" placeholder="所获取的英语证书；如没有任何英语证书请填写无！">
        </div>
        <div class="form-group col-md-12 col-sm-12">
          <label for="research">主要研究方向<em class="text-danger">*(必填)</em></label>
          <textarea class="form-control" name="research" rows="3"></textarea>
        </div>
      </div>
      <div class="row people-wrap student-people hide">
        <div class="form-group col-md-6 col-sm-12">
          <label for="school">学校<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="school" placeholder="学校">
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label for="s_class">年级<em class="text-danger">*(必填)</em></label>
          <select class="form-control input-lg" name="s_class" placeholder="年级">
            <option>大一</option>
            <option>大二</option>
            <option>大三</option>
            <option>大四</option>
            <option>研一</option>
            <option>研二</option>
            <option>研三</option>
            <option>博一</option>
            <option>博二</option>
            <option>博三</option>
            <option>博士后</option>
          </select>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label for="department">所学专业<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="department" placeholder="所学专业">
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label for="english">英语水平<em class="text-danger">*(必填)</em></label>
          <input type="text" class="form-control input-lg" name="english" placeholder="所获取的英语证书；如没有任何英语证书请填写无！">
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label for="student_id">学号<em class="text-danger"></em></label>
          <input type="text" class="form-control input-lg" name="student_id" placeholder="学号">
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label>您是否愿意参加5月23日晚与达莱尔•达菲的座谈会</label>
          <div class="col-md-12">
            <label><input type="radio" name="ismeeting" id="meeting_agree" value="agree">是</label>
            <label><input type="radio" name="ismeeting" id="meeting_disagree" value="disagree">否</label>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12">
          <label for="study">个人学习经历<em class="text-danger">*(必填)</em></label>
          <textarea class="form-control" name="study" rows="3" placeholder="请从中学填起"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <label for="study">服务条款<em class="text-danger">*</em></label>
          <textarea id="textarea_fwtk" class="form-control" cols="30" rows="10">*********************服务条款*********************
欢迎申请参加由中国金融培训中心举办的中国金融高端培训（2015）。请您（下列简称为“学员”）仔细阅读以下全部内容。如学员不同意本服务条款任何内容，请勿注册报名中国金融高端培训（2015）。如学员通过加入注册程序并勾选“我同意中国金融高端培训服务条款”，即表示学员与中国金融培训中心已达成协议，自愿接受本服务条款的所有内容。此后，学员不得以未阅读本服务条款内容作任何形式的抗辩。
1、学员自愿注册报名参加由中国金融培训中心主办的中国金融高端培训（2015），承诺向主办方提交的相关报名信息真实有效。如学员提供的注册资料不准确，不真实，含有违法或不良信息的，中国金融培训中心有权不予以注册，并保留终止学员参加培训的权利。对于冒用他人名义注册报名的，中国金融培训中心有权取消其报名，并向相关部门进行通报。
2、中国金融培训中心将会采取合理的措施保护学员报名信息，除法律或有法律赋予权限的政府部门要求或您同意等原因外，中国金融培训中心不向第三方公开、透露您个人信息。因学员保管疏漏或黑客行为导致学员信息泄露，中国金融培训中心不承担任何责任。
3、学员如成功入选参加培训，将承诺在培训班期间严格遵守国家各项法律法规及规章制度，不做任何违法违纪的事情，并在培训期间和之后不发表与本次培训主题相关的不恰当言论。否则，后果自负。
4、中国金融培训中心承担培训期间参训学员在培训会场内的安全与管理。学员应遵照培训主办单位的相关要求，配合做好培训期间相关安排。由于未遵守中国金融培训中心相关管理要求导致的人身、财产安全等损失，以及在非培训期间或培训会场以外发生的一切安全事故，由学员自行承担一切责任。
5、如出现纠纷，双方应尽量友好协商解决；协商不成时，任何一方均可向中国金融培训中心所在地的人民法院提起诉讼。
          </textarea>
        </div>
        <div class="form-group col-md-12 col-sm-12">
          <label><input type="checkbox" name="optionsRadios" id="options_agree" value="agree">已阅读，同意</label>
        </div>
      </div>
    </form>
    <div class="container my-buttons">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <button class="btn btn-primary btn-lg" id="submit_btn" title="请先阅读服务条款！">提交</button>
          <a class="btn btn-default btn-lg" href="http://www.chinacft.org/gdpx/" target="_self">返回</a>
        </div>
      </div>
    </div>

  </div>
  <%- include ../a_footer.html %>
  <script src="http://cdn.bootcss.com/jquery-cookie/1.1/jquery.cookie.min.js"></script>
  <script>seajs.use('js/gdpx/apply')</script>
</body>
</html>