<!Doctype html>
<html>
<head>
  <%- include ../meta.html %>
</head>
<body>
<%- include ../header.html %>
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="item active masthead">
        <div class="masthead-bg"></div>
        <div class="container">
          <div class="carousel-caption">
            <h1>Knowledge</h1>
            <h3 class="gray">阳光照亮世界 知识点亮人生</h3>
            <p><a href="/course" class="btn btn-lg btn-primary btn-shadow bs3-link">开始学习</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container ad-courses">
    <div class="row">
      <%courses.forEach(function(val){%>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="/course/view?id=10" target="_blank">
            <span class="course-img">
              <img src="/resource/img/k/<%= val.img %>" alt="<%= val.name %>">
            </span>
            <em><%= val.name %></em>
          </a>
          <p><%= val.source %>" • "<%= val.time %></p>
        </div>
      </div>
      <%})%>
    </div>
    <div class="row text-center see-all">
      <a href="/course">查看所有课程&gt;&gt;</a>
    </div>
  </div>
<%- include ../footer.html %>
</body>
</html>