<!Doctype html>
<html>
<head>
  <%- include ../meta.html %>
</head>
<body>
  <%- include ../header.html %>
  <% var partner = partner[0]%>
  <div class="partner">
    <div class="p-bg">
      <div class="p-bg-banner"></div>
    </div>
  </div>
  <div class="container">
    <div class="p-preview">
      <div class="p-logo">
        <img src="/resource/img/h_180/<%=partner.img%>" alt="" width="180" height="180">
      </div>
      <div class="p-summary">
        <h3><%=partner.name%></h3>
        <p><%=partner.introduction%></p>
      </div>
    </div>
    <div class="p-courese ad-courses">
      <div class="row">
      <%courses.forEach(function(val){%>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="/course/view?id=<%=val.id%>" target="_blank">
            <span class="course-img">
              <img src="/resource/img/k/<%= val.img %>" alt="<%= val.name %>">
            </span>
            <em><%= val.name %></em>
          </a>
          <p><%= val.source %> • <%= val.time %></p>
        </div>
      </div>
      <%})%>
    </div>
    </div>
  </div>
  <%- include ../footer.html %>
</body>
</html>