<footer class="bs-docs-footer" id="footer" role="contentinfo">
  <div class="footer-copyright text-center">版权所有：© 2015 nebulafe.com  京ICP备15012781号-1 Copyright©www.nebulafe.com All Rights Reserved </div>
</footer>
<script src="http://libs.baidu.com/jquery/1.7.1/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://a.tbcdn.cn/libs/seajs/1.1.0/sea.js"></script>
<script>
  var root = location.protocol + "//" + location.host + "/resource/";
  seajs.config({
    base : root,
    path : {
      'js' : root + 'js',
      'css' : root + 'css',
      'img' : root + 'img',
      'swf' : root + 'swf'
    },
    map: [
      [ /^(.*\/.*\/.*\.(?:css|js))(?:.*)$/i, '$1?20150308']
    ]
  });
</script>