<footer class="bs-docs-footer" id="footer" role="contentinfo">
  <div class="footer-sns text-center">
    <a href="http://weibo.com/u" class="sns-weibo" target="_blank" title="新浪微博"></a>
    <a href="javascript:void(0);" class="sns-weixin" target="_blank" title="微信">
      <i class="sns-weixin-expand"></i>
    </a>
  </div>
  <div class="footer-links text-center">
    <a href="/about/us" title="关于我们">关于我们</a>
    <a href="/about/job" title="人才招聘">人才招聘</a>
    <a href="/about/recruit" title="讲师招募">讲师招募</a>
    <a href="/about/contact" title="联系我们">联系我们</a>
    <a href="/about/feedback" title="意见反馈">意见反馈</a>
    <a href="/about/friend" title="人才招聘">友情链接</a>
  </div>
  <div class="footer-copyright text-center">© 2015 nebulafe.com  京ICP备15012781号-1</div>
</footer>
<script src="http://libs.baidu.com/jquery/1.7.1/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://a.tbcdn.cn/libs/seajs/1.1.0/sea.js"></script>
<script>
  var root = location.protocol + "//" + location.host + "/resource/";
  seajs.config({
    base : root,
    path : {
      'js' : root + 'js',
      'css' : root + 'css',
      'img' : root + 'img',
      'swf' : root + 'swf'
    },
    map: [
      [ /^(.*\/.*\/.*\.(?:css|js))(?:.*)$/i, '$1?20150308']
    ]
  });
</script>